.container {
  padding-inline: 5%;
}
.background {
  background-image: url("./asset/images/background.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc(((100vw - 1170px) / 2) + 1170px * 0.536) 0;
}
